<div class="edit_userstory">
    <%= form_for userstory, :url => update_userstory_path(userstory), :html => { :'data-type' => 'html', :id => "update-userstory-form-#{userstory.id}" }, :remote => true do |f| %>
    	<fieldset>
    		<div class="clearfix<%= " error" if userstory.errors[:content].any? %>">
    	    <div>
    				<%= f.text_area :content, :class => "xxlarge submit_on_return", :id => "edit_user_story_content_#{userstory.id}", :rows => "3" %>
					<span class="help-block">Give one sentence that captures what the user wants to achieve.</span>
    	    </div>
    		</div>
      </fieldset>

    		<%= f.submit "Save change", :class =>  "btn primary" %>
    		or <a href="#" class="hide_form_edit_userstory">Cancel</a>
    <% end %>
</div>