<% content_for :title_header do %>
	<%= @userstory.content %>
<% end %>

<section id="comments">
	<%= render @comments %>
</section> 
<%= render 'comments/new', :comment => @comment, :userstory => @userstory %> 