<form id="edit-userstory-<%= id %>" name="userstory" class="edit-userstory">
    	<fieldset>
    		<div class="clearfix">
    	    <div>
    	    		<textarea class="xxlarge submit_on_return" cols="40" name="content" rows="3" id="edit_user_story_content_<%= id %>"><%= content %></textarea>
					<span class="help-block">Give one sentence that captures what the user wants to achieve.</span>
    	    </div>
    		</div>
      </fieldset>
      		<input class="btn primary" name="commit" type="submit" value="Save change">
    		or <a href="#" class="cancel">Cancel</a>

        </form>