
	<div class="action">
		<span class="icon-move handle action-link sort">[drag]</span>
	</div>
	<p>
		<span class="label"><%= id %></span>&nbsp;&nbsp;<%= content %>
	</p>
	<div class="action-group">
		<div class="action comment-button">
			
		</div>
		<div class="action">
		
		</div>
		<div class="action">
		
		</div>
	</div>

	<div style='clear:both'></div>