<li>
  <%= gravatar_for user, :size => 30 %>
  <%= link_to user.name.force_encoding(Encoding::UTF_8), user %>
  <% if current_user.admin? %>
  <%= link_to "Delete", user, :method => :delete, :confirm => "You sure?",
                                :title => "Delete #{user.name.force_encoding(Encoding::UTF_8)}",
                                :class => "btn danger list" %>
  <% end %>
</li>