<% if object.errors.any? %>
<div class="alert-message block-message error fade in">
    <a class="close" href="#">×</a>
    <p>
		<strong>Ooops !</strong> There were problems with <%= pluralize(object.errors.count, "field") %>.
    </p>
</div>
<% end %>
