<% if signed_in? %>
<dl class="projects">
  <%= render @projects %>
</dl>

<%= paginate @projects %>
<% else %>
<section class="hero-unit">
  <h1>Hello !</h1>
  <p>Wanna create collaborative functionnal specifications?</p>
  <p><%= link_to "Sign up now »", signup_path, :class => "btn primary large" %></p>
</section>
<% end %>
