


	<section class="hero-unit">
	  <h1>Hello !</h1>
	  <p>Wanna create collaborative functionnal specifications?</p>
	  <p><%= link_to "Get an invitation »", new_invitation_path, :class => "btn primary large" %></p>
	</section>
