<% content_for :title_header do %>
  Your projects
<% end %>



<% if signed_in? %>

	<% content_for :sidebar do %>
	  <%= link_to "<i class='icon-book icon-white'></i>&nbsp;&nbsp;New project".html_safe, new_project_path, :class => "btn success new-action"%>
	<% end %>

	<dl class="projects">
	  <%= render @projects %>
	</dl>

	<%= paginate @projects %>
<% else %>
	<section class="hero-unit">
	  <h1>Hello !</h1>
	  <p>Wanna create collaborative functionnal specifications?</p>
	  <p><%= link_to "Get an invitation »", new_invitation_path, :class => "btn primary large" %></p>
	</section>
<% end %>
