<p><%= @project.description %></p>
<p><%= link_to "New feature", new_project_feature_path(@project) %></p>

<section class="features">
  <%= render @features, :project => @project %>
</section>
<%= paginate @features %>