  <table class="condensed-table">
    <tbody>
  <% if @versions.any? %>
      <%= render @versions, :date => @versions.last.created_at %>
  <% else %>
  <p class="empty">No activity yet !</p>
  <% end %>
      </tbody>
  </table>
