/*
* This is a manifest file that'll automatically include all the stylesheets available in this directory
* and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
* the top of the compiled file, but it's generally better to create a new file per style scope.
*= require_self
*= require_tree ./screen
*/

/**************** general ****************/
html, body {background-color: #eee;}
body{padding-top:50px;}
header{
	background-color: #f5f5f5;
	padding: 20px 20px 10px;
	margin: -20px -20px 20px;
}
.topbar .brand{font-family: 'Lobster';}
.topbar .nav {float:right;}
h2{
	margin-bottom: 17px;
	border-bottom: 1px solid #ddd;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
h3{line-height: 20px;}
dd{margin-bottom:20px;}
.tabs{margin-bottom: 10px;}


/***************** icon ******************/
[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  vertical-align: text-top;
  background-image: url("glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}

[class^="icon-"]:last-child, [class*=" icon-"]:last-child {
  *margin-left: 0;
}
.icon-white {
  background-image: url("../img/glyphicons-halflings-white.png");
}
.icon-glass {
  background-position: 0      0;
}
.icon-music {
  background-position: -24px 0;
}
.icon-search {
  background-position: -48px 0;
}
.icon-envelope {
  background-position: -72px 0;
}
.icon-heart {
  background-position: -96px 0;
}
.icon-star {
  background-position: -120px 0;
}
.icon-star-empty {
  background-position: -144px 0;
}
.icon-user {
  background-position: -168px 0;
}
.icon-film {
  background-position: -192px 0;
}
.icon-th-large {
  background-position: -216px 0;
}
.icon-th {
  background-position: -240px 0;
}
.icon-th-list {
  background-position: -264px 0;
}
.icon-ok {
  background-position: -288px 0;
}
.icon-remove {
  background-position: -312px 0;
}
.icon-zoom-in {
  background-position: -336px 0;
}
.icon-zoom-out {
  background-position: -360px 0;
}
.icon-off {
  background-position: -384px 0;
}
.icon-signal {
  background-position: -408px 0;
}
.icon-cog {
  background-position: -432px 0;
}
.icon-trash {
  background-position: -456px 0;
}
.icon-home {
  background-position: 0 -24px;
}
.icon-file {
  background-position: -24px -24px;
}
.icon-time {
  background-position: -48px -24px;
}
.icon-road {
  background-position: -72px -24px;
}
.icon-download-alt {
  background-position: -96px -24px;
}
.icon-download {
  background-position: -120px -24px;
}
.icon-upload {
  background-position: -144px -24px;
}
.icon-inbox {
  background-position: -168px -24px;
}
.icon-play-circle {
  background-position: -192px -24px;
}
.icon-repeat {
  background-position: -216px -24px;
}
.icon-refresh {
  background-position: -240px -24px;
}
.icon-list-alt {
  background-position: -264px -24px;
}
.icon-lock {
  background-position: -287px -24px;
}
.icon-flag {
  background-position: -312px -24px;
}
.icon-headphones {
  background-position: -336px -24px;
}
.icon-volume-off {
  background-position: -360px -24px;
}
.icon-volume-down {
  background-position: -384px -24px;
}
.icon-volume-up {
  background-position: -408px -24px;
}
.icon-qrcode {
  background-position: -432px -24px;
}
.icon-barcode {
  background-position: -456px -24px;
}
.icon-tag {
  background-position: 0 -48px;
}
.icon-tags {
  background-position: -25px -48px;
}
.icon-book {
  background-position: -48px -48px;
}
.icon-bookmark {
  background-position: -72px -48px;
}
.icon-print {
  background-position: -96px -48px;
}
.icon-camera {
  background-position: -120px -48px;
}
.icon-font {
  background-position: -144px -48px;
}
.icon-bold {
  background-position: -167px -48px;
}
.icon-italic {
  background-position: -192px -48px;
}
.icon-text-height {
  background-position: -216px -48px;
}
.icon-text-width {
  background-position: -240px -48px;
}
.icon-align-left {
  background-position: -264px -48px;
}
.icon-align-center {
  background-position: -288px -48px;
}
.icon-align-right {
  background-position: -312px -48px;
}
.icon-align-justify {
  background-position: -336px -48px;
}
.icon-list {
  background-position: -360px -48px;
}
.icon-indent-left {
  background-position: -384px -48px;
}
.icon-indent-right {
  background-position: -408px -48px;
}
.icon-facetime-video {
  background-position: -432px -48px;
}
.icon-picture {
  background-position: -456px -48px;
}
.icon-pencil {
  background-position: 0 -72px;
}
.icon-map-marker {
  background-position: -24px -72px;
}
.icon-adjust {
  background-position: -48px -72px;
}
.icon-tint {
  background-position: -72px -72px;
}
.icon-edit {
  background-position: -96px -72px;
}
.icon-share {
  background-position: -120px -72px;
}
.icon-check {
  background-position: -144px -72px;
}
.icon-move {
  background-position: -168px -72px;
}
.icon-step-backward {
  background-position: -192px -72px;
}
.icon-fast-backward {
  background-position: -216px -72px;
}
.icon-backward {
  background-position: -240px -72px;
}
.icon-play {
  background-position: -264px -72px;
}
.icon-pause {
  background-position: -288px -72px;
}
.icon-stop {
  background-position: -312px -72px;
}
.icon-forward {
  background-position: -336px -72px;
}
.icon-fast-forward {
  background-position: -360px -72px;
}
.icon-step-forward {
  background-position: -384px -72px;
}
.icon-eject {
  background-position: -408px -72px;
}
.icon-chevron-left {
  background-position: -432px -72px;
}
.icon-chevron-right {
  background-position: -456px -72px;
}
.icon-plus-sign {
  background-position: 0 -96px;
}
.icon-minus-sign {
  background-position: -24px -96px;
}
.icon-remove-sign {
  background-position: -48px -96px;
}
.icon-ok-sign {
  background-position: -72px -96px;
}
.icon-question-sign {
  background-position: -96px -96px;
}
.icon-info-sign {
  background-position: -120px -96px;
}
.icon-screenshot {
  background-position: -144px -96px;
}
.icon-remove-circle {
  background-position: -168px -96px;
}
.icon-ok-circle {
  background-position: -192px -96px;
}
.icon-ban-circle {
  background-position: -216px -96px;
}
.icon-arrow-left {
  background-position: -240px -96px;
}
.icon-arrow-right {
  background-position: -264px -96px;
}
.icon-arrow-up {
  background-position: -289px -96px;
}
.icon-arrow-down {
  background-position: -312px -96px;
}
.icon-share-alt {
  background-position: -336px -96px;
}
.icon-resize-full {
  background-position: -360px -96px;
}
.icon-resize-small {
  background-position: -384px -96px;
}
.icon-plus {
  background-position: -408px -96px;
}
.icon-minus {
  background-position: -433px -96px;
}
.icon-asterisk {
  background-position: -456px -96px;
}
.icon-exclamation-sign {
  background-position: 0 -120px;
}
.icon-gift {
  background-position: -24px -120px;
}
.icon-leaf {
  background-position: -48px -120px;
}
.icon-fire {
  background-position: -72px -120px;
}
.icon-eye-open {
  background-position: -96px -120px;
}
.icon-eye-close {
  background-position: -120px -120px;
}
.icon-warning-sign {
  background-position: -144px -120px;
}
.icon-plane {
  background-position: -168px -120px;
}
.icon-calendar {
  background-position: -192px -120px;
}
.icon-random {
  background-position: -216px -120px;
}
.icon-comment {
  background-position: -240px -120px;
}
.icon-magnet {
  background-position: -264px -120px;
}
.icon-chevron-up {
  background-position: -288px -120px;
}
.icon-chevron-down {
  background-position: -313px -119px;
}
.icon-retweet {
  background-position: -336px -120px;
}
.icon-shopping-cart {
  background-position: -360px -120px;
}
.icon-folder-close {
  background-position: -384px -120px;
}
.icon-folder-open {
  background-position: -408px -120px;
}
.icon-resize-vertical {
  background-position: -432px -119px;
}
.icon-resize-horizontal {
  background-position: -456px -118px;
}

/**************** header ****************/
.topbar .brand{font-family: 'Lobster', cursive;}
.topbar .nav {float:right;}


/**************** content ****************/
.breadcrumb{
	position: fixed;
	margin-left: -21px;
	margin-bottom: 10px;
	margin-top: -11px;
	width: 952px;
	z-index: 1002;
}

.content {
	background-color: #fff;
	padding: 20px;
	margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
	margin-top: 30px;
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.content .section {
	padding-right: 19px;
	border-right: 1px solid #eee;
}

.content .sidebar,
.content .section {
	min-height: 500px;
}

.content .row {
	padding: 9px;
	padding-top: 0;
}

.pagine{
	background-color: #f5f5f5;
	margin: 10px 0 10px;
	padding: 10px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

section.features {padding-left:10px;padding-right:10px;}
section.features article h3 {margin-left: -20px;}
section.features article h3 a {color:black;}
section.features article h3 a:hoover {color:black;}
section.features article h3 small a {color:#0069D6;}
section.features article h3 small a:hoover {color:#00438A;}
section.features article h3 .size_action {
	background: url(minimize.png) no-repeat center center;
	display: block; height: 20px; width: 20px;
	float: right;
	opacity: .5;
	-moz-opacity: .5;
	filter:alpha(opacity=.55);
}
section.features .minimize h3 .size_action {background-image: url(maximize.png);}
section.features article h3 .size_action:hover{
	cursor: pointer;
	opacity: .8;
	-moz-opacity: .8;
	filter:alpha(opacity=.88);
}

h1 small.danger {float:right;font-size:0.4em;}
h1 small.danger a {color:red;text-decoration:underline;}
h1 small.danger a:hoover {color:red;}


/**************** userstories ****************/
div.new_userstory {
	background-color: whiteSmoke;
	padding: 2px 0 2px 20px;
}
div.edit_userstory {
	background-color: whiteSmoke;
	padding: 2px 0 2px 20px;
	margin: 10px 0 0 25px;
	display:none;
}

form.new_userstory div.clearfix.error, form.edit_userstory div.clearfix.error {
	padding-left: 10px;
	margin-right: 10px;
}
a.show_form_new_userstory, a.hide_form_new_userstory{
	color: red;
	font-size: 0.9em;
	text-decoration: underline;
}
li.load { list-style-image: url(loading.gif) }
p.load {text-decoration:line-through;}
.action-link{
	text-indent: -50000px;
	display: block;
	width:15px;
	height:15px;
}

div.action-group a {
	text-indent: -50000px;
}


.has-comment{
	text-indent: 20px;
	display: block;
	width:15px;
	height:15px;
	color: #BFBFBF;
}
.has-comment:hover{
	color: #BFBFBF;
	text-decoration:none;
}


div.action{
		float: left;
		width:20px;
		margin-top:6px;
}

.action-group {
	float: right;
}
.userstories li p {color:black;}
.userstories li:hover {
	/*background-color: whiteSmoke;*/
}

/**************** features ****************/

nav.features {width: 160px; padding-right: 10px;}
nav.features ul {margin-left:15px;}
nav.features h4 {margin-left:15px;}
.sticky{position:fixed;top:60px;}

.features article {
	clear: both;

	padding-bottom:10px;
	padding-top:10px;

	padding-left: 25px;
	padding-right: 20px;
	margin-left: -25px;
	margin-right: -20px;
}


article li p {
	float:left;
	display:block;
	margin:5px 0px 0 5px;
	max-width: 650px;
}
article ul { margin-left:-25px;}

li {list-style:none;display:block;}

span.handle,span.article-handle{cursor:move;}


li.anchor{text-indent:-5000px;height: 2px;}


a.list, form.list{float:right; margin:0 5px 0 5px;}
ul.list li{
	border-bottom: 1px solid #DDD;
	margin-bottom: 10px;
	height:40px;
}
p.flash{
	background-color: #FEE9CC;
	color: rgba(0, 0, 0, 0.75);
}
#activity h6 {
	margin-bottom:10px;
}
#project div.empty{text-align:center;}


.dropdown-toggle img {
	margin-right: 8px;
	vertical-align: top;
}


#activity .load{text-align:center;}
#activity .empty{font-style:italic;}

#activity table {display: inline-block;}

.userstories li p {
	max-width: 85%;
}

.userstories li p,
.userstories li .comment-button {
	float: left;
}

#comments .profile-picture {
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
}
#comments .body-comment {
	display: inline-block;
	width: 630px;
}
#comments article {
	margin-bottom: 20px;
	border-bottom: 1px solid #DDD;
}
#comments .comment .delete {
	float: right;
	position: absolute;
	width:16px;
	height:16px;
}
.new_comment .profile-picture {
	display: inline-block;
	vertical-align: top;
	margin: 20px 20px 0 0;
}
.new_comment form {
	display: inline-block;
}
.feature-content p.description{color:grey;}

