/*
* This is a manifest file that'll automatically include all the stylesheets available in this directory
* and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
* the top of the compiled file, but it's generally better to create a new file per style scope.
*= require_self
*= require_tree . 
*/

/**************** general ****************/
html, body {background-color: #eee;}
body{padding-top:50px;}
header{
	background-color: #f5f5f5;
	padding: 20px 20px 10px;
	margin: -20px -20px 20px;
}
.topbar .brand{font-family: 'Lobster';}
.topbar .nav {float:right;}
h2{
	margin-bottom: 17px;
	border-bottom: 1px solid #ddd;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
h3{line-height: 20px;}
dd{margin-bottom:20px;}
.tabs{margin-bottom: 10px;}

/**************** header ****************/
.topbar .brand{font-family: 'Lobster', cursive; font-size:30px;}
.topbar .nav {margin-top:8px; float:right;}


/**************** content ****************/
.breadcrumb{
	position: fixed;
	margin-left: -21px;
	margin-bottom: 10px;
	margin-top: -3px;
	width: 952px;
	z-index: 1002;
}

.content {
	background-color: #fff;
	padding: 20px;
	margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
	margin-top: 40px;
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.content .section {
	padding-right: 19px;
	border-right: 1px solid #eee;
}

.content .sidebar,
.content .section {
	min-height: 500px;
}

.content .row {
	padding: 9px;
	padding-top: 0;
}

.pagine{
	background-color: #f5f5f5;
	margin: 10px 0 10px;
	padding: 10px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

section.features {padding-left:10px;padding-right:10px;}
section.features article h3 {margin-left: -20px;}
section.features article h3 a {color:black;}
section.features article h3 a:hoover {color:black;}
section.features article h3 small a {color:#0069D6;}
section.features article h3 small a:hoover {color:#00438A;}

h1 small.danger {float:right;font-size:0.4em;}
h1 small.danger a {color:red;text-decoration:underline;}
h1 small.danger a:hoover {color:red;}


/**************** userstories ****************/
div.new_userstory {
	background-color: whiteSmoke;
	padding: 2px 0 2px 20px;
}
div.edit_userstory {
	background-color: whiteSmoke;
	padding: 2px 0 2px 20px;
	margin: 10px 0 0 55px;
	display:none;
}

form.new_userstory div.clearfix.error, form.edit_userstory div.clearfix.error {
	padding-left: 10px;
	margin-right: 10px;
}
a.show_form_new_userstory, a.hide_form_new_userstory{
	color: red;
	font-size: 0.9em;
	text-decoration: underline;
}
li.load { list-style-image: url(loading.gif) }
p.load {text-decoration:line-through;}
.action-link{
	text-indent: -50000px;
	display: block;
	width:15px;
	height:15px;
}
a.delete.action-link{
	background: url(trash.png) no-repeat;
}
a.update.action-link{
	background: url(edit.png) no-repeat;
}
a.comment{
	background: url(comment.png) no-repeat;
	margin-left:10px;
}
a.has-comment{
	background: url(has-comment.png) no-repeat;
	margin-left:10px;
}
.has-comment{
	text-indent: 20px;
	display: block;
	width:15px;
	height:15px;
	color: #BFBFBF;
}
.has-comment:hover{
	color: #BFBFBF;
	text-decoration:none;
}

span.sort.action-link{
	background: url(move.png) no-repeat;
}

div.action{
		float: left;
		width:20px;
		margin-top:5px;
}


/**************** features ****************/

nav.features {width: 160px; padding-right: 10px;}
nav.features ul {margin-left:15px;}
nav.features h4 {margin-left:15px;}
.sticky{position:fixed;top:70px;}

.features article {
	clear: both;

	padding-bottom:10px;
	padding-top:10px;

	padding-left: 25px;
	padding-right: 20px;
	margin-left: -25px;
	margin-right: -20px;
	border: 1px solid #fff;

	-webkit-transition: border-color,background-color 500ms ease-in-out;
	-moz-transition: border-color,background-color 500ms ease-in-out;
	-o-transition: border-color,background-color 500ms ease-in-out;
	transition: border-color,background-color 500ms ease-in-out;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.highlight-feature {
	background-color: whiteSmoke;
	border-color: #666;
	border-color: rgba(0, 0, 0, 0.3);

	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3);
}

.features article:hover {
	background-color: #fcfcfc;
	border-color: #666;
	border-color: rgba(0, 0, 0, 0.1);

	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
}

article li p {
	float:left;
	display:block;
	margin:5px 0px 0 10px;
	max-width: 650px;
}
article ul { margin-left:-55px;}

li {list-style:none;display:block;}

span.handle,span.article-handle{cursor:move;}
nav.features{
	background-color: whiteSmoke;
	border: 1px solid #EEE;
	border: 1px solid rgba(0, 0, 0, 0.05);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	margin-top:20px;
	padding-top:5px;
}

li.anchor{text-indent:-5000px;height: 2px;}
li a.anchorHover{
	font-weight: bold;
}

a.list, form.list{float:right; margin:0 5px 0 5px;}
ul.list li{
	border-bottom: 1px solid #DDD;
	margin-bottom: 10px;
	height:40px;
}
p.flash{
	background-color: #FEE9CC;
	color: rgba(0, 0, 0, 0.75);
}
#activity h6 {
	margin-bottom:10px;
}
#project div.empty{text-align:center;}


.dropdown-toggle img {
	margin-right: 8px;
	vertical-align: top;
}


#activity .load{text-align:center;}
#activity .empty{font-style:italic;}


#comments .profile-picture {
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
}
#comments .body-comment {
	display: inline-block;
	width: 630px;
}
#comments article {
	margin-bottom: 20px;
	border-bottom: 1px solid #DDD;
}
#comments .comment .delete {
	float: right;
	position: absolute;
	width:16px;
	height:16px;
}
.new_comment .profile-picture {
	display: inline-block;
	vertical-align: top;
	margin: 20px 20px 0 0;
}
.new_comment form {
	display: inline-block;
}

