<article>
  <h2><%= link_to feature.name, project_feature_path(project,feature) %> <small><%= link_to "edit", edit_project_feature_path(project,feature) %></small></h2>
  <p><%= feature.description %></p>
</article>