

<nav class='features list'>
    <h4><i class='icon-th-list'></i> Features</h4>
    <ul>
      <% project.features.each do |feature| %>
      <li>
        <%= link_to feature.name, "#a_feature_#{feature.id}", :class=> "anchor", :'feature-id' => "a_feature_#{feature.id}"%>
      </li>
      <% end %>
    </ul>


  </nav>