<p><%= @feature.description %></p>
<%= link_to "delete", project_feature_path(@project), :method => :delete, :confirm => "Are you sure?",
                              :title => "Delete #{@feature.name}" %>
