<article>
	<p><%= @feature.description.force_encoding(Encoding::UTF_8) %></p>
	<ul>
		<%= render @userstories %>
	</ul>
	<%= render 'userstories/new', :feature => @feature, :userstory => @userstory %>
</article>