<header>
	<h1>
		Your projects <a href="#/new" class="btn info new-action"><i class='icon-book icon-white'></i> New Project</a>
	</h1>
</header>

<dl class="projects">

</dl>

<br/>

<a href="#/new">New Project</a>