<div class="topbar">
	<div class="topbar-inner">
		<div class="container">
			<a class="brand" href="#">Specifications</a>
			<ul class="nav">
				<li class=""><a href="#">Projects</a></li>
			</ul>
		</div>
	</div>
</div>